# Virtual environment
venv/
.env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Database
db.sqlite3

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Static files (optional if generated)
staticfiles/

# Logs
*.log